@media (max-width: 1350px) {
	.intro {
		&__slider-content {
			margin-left: 10%;
			max-width: 400px;
		}
		&__title {
			font-size: 40px;
		}
		&__link, .intro span {
			font-size: 13px;
		}
	}
	.banners {
		&__item-title {
			font-size: 25px;
		}
	}
}
@media (max-width: $bp992) {
	.intro {
		margin-bottom: 50px;
	}
	.banners {
		margin-bottom: 50px;
		&__list {
			flex-wrap: wrap;
		}
		&__item {
			min-height: 150px;
			width: 100%;

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 0;
			padding-bottom: 0;
			padding-right: 0;
			&:first-child {
				background-color: #cfd1d0;
			}
			&:nth-child(2) {
				background-color: #e9e4df;
			}
			&:nth-child(3) {
				background-color: #eeeeec;
			}
		}

		&__item-img {
			left: auto;
			height: 150px;
			width: auto;
		}
	}
	.products {
		margin-bottom: 50px;
	}
}
@media (max-width: $burgerBP) {
	.wrapper {
		position: relative;
	}
	.header {
		&__inner {
			flex-wrap: wrap;
			align-items: center;
		}
		a.active-link {
			border-color: #fff;
			&:hover {
				color: #fff;
			}
		}
	}
	.menu {
		width: 100%;
		transform: translateY(-1000px);
		transition: transform 0.3s ease;
		&--open {
			transform: translateY(0px);
		}
		&__list {
			flex-direction: column;
			padding-top: 120px;
			margin: -60px -15px 0px;
			padding-bottom: 30px;
			border-bottom: 2px solid $mainTextColor;
			background-color: rgba($color: $mainTextColor
		, $alpha: 0.5);
		color: #fff;
		}
		&__list-item {
			margin-bottom: 10px;
		}
	}
	.logo {
		order: -1;
		margin: 0;

	}
	.user {
		order: -1;
		flex: 1 1 auto;
	}
	.burger {
		order: -1;
	}
	.slider-intro__controls {
		bottom: 15px;
	}
}
// @media (max-width: $bp768) {
	
// }
// @media (max-width: 680px) {
	
// }
// @media (max-width: 520px) {
	
// }
@media (max-width: $bp480) {
	.user {
		gap: 15px;
	}
	.burger {
		margin-left: 15px;
	}
	.logo {
		width: 35%;
	}
	.intro {
		&__slider-content {
			margin-left: 5%;
			max-width: 265px;
		}
		&__title {
			font-size: 30px;
		}
		&__link, & span {
			font-size: 13px;
			line-height: 1.1;
		}
	}
	.purched {
		left: 10px;
	}
	.banners__item-title {
		font-size: 20px;
	}
	
}
@media (max-width: $bp320) {
	.purched {
		width: 240px;
	}
}

// @media (max-width: $bp320) {
	
// }
// @media (max-width: $bp320) {
	
// }