@media (max-width: 1350px) {
	
}
// @media (max-width: $bp992) {
	
// }
@media (max-width: $burgerBP) {
	.wrapper {
		position: relative;
	}
	.header {
		&__inner {
			flex-wrap: wrap;
			align-items: center;
		}
	}
	.menu {
		width: 100%;
		transform: translateY(-1000px);
		transition: transform 0.3s ease;
		&--open {
			transform: translateY(0px);
		}
		&__list {
			flex-direction: column;
			padding-top: 120px;
			margin: -60px -15px 0px;
			padding-bottom: 30px;
			border-bottom: 2px solid $mainTextColor;
			background-color: rgba($color: $mainTextColor
		, $alpha: 0.5);
		color: #fff;
		}
		&__list-item {
			margin-bottom: 10px;
		}
		.active-header-link {
			border-bottom: 2px solid  #fff;
			&:hover {
				color:  #fff;
			}
		}
	}
	.logo {
		order: -1;
		margin: 0;

	}
	.user {
		order: -1;
		flex: 1 1 auto;
	}
	.burger {
		order: -1;
	}
}
// @media (max-width: $bp768) {
	
// }
// @media (max-width: 680px) {
	
// }
// @media (max-width: 520px) {
	
// }
@media (max-width: $bp480) {
	.user {
		gap: 15px;
	}
	.burger {
		margin-left: 15px;
	}
	.logo {
		width: 35%;
	}
}
// @media (max-width: $bp320) {
	
// }