.breadcrumbs {
	margin-bottom: 12px;
	.catalog-breadcrumbs {
		padding-top: 40px;
		padding-bottom: 30px;
		border-bottom: 1px solid #eee;
	}
	.card-breadcrumbs {
		padding-top: 90px;
		padding-bottom: 15px;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 36px;
		overflow-x: auto;
	}
	&__list-item {
		position: relative;
	}
	&__list-item:not(:first-child)::before {
		content: "/";
		position: absolute;
		left: -20px;
		top: 50%;
		transform: translateY(-50%);
		color: $textColor;
	}

	&__list-link {
		font-size: 10px;
		line-height: 1;
		text-transform: uppercase;
		color: $textColor;
		white-space: nowrap;
		&:hover {
			color: $accentColor;
		}
	}
	&__list-item:last-child {
		& a {
			color: $mainTextColor;
			cursor: default;
			&:hover {
				color: $mainTextColor;
			}
		}
	}
}

