.footer {
	&__container {
		max-width: 1360px;
		padding: 0 15px;
		margin: 0 auto;
	}
	&__top {
		margin-bottom: 100px;
		&-list {
			display: flex;
			justify-content: space-between;
		}
		.footer {
			&__list-title {
				line-height: 1.2;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 40px;
				&::before {
					display: none;
				}
			}
			&__menu-list {
				color: #454545;
				line-height: 1.2;
			}
			&__menu-item {
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
			&__menu-link {
				&:hover {
					color: $accentColor;
				}
			}
			&__menu-form {
				min-width: 650px;
				display: flex;
				justify-content: space-between;
				gap: 30px;
				border-bottom: 2px solid #151515;
				padding-bottom: 10px;
			}
			&__form-input {
				flex: 1 1 auto;
				border: none;
				padding: 5px 5px 5px 3px;
				&::placeholder {
					color: #a8a8a8;
				}
			}
			&__form-btn {
				color: #151515;
				padding: 5px;
				&:hover {
					color: $accentColor;
					transition: all 0.3s ease;
				}
			}
		}
	}
	&__bottom {
		padding: 45px 15px 45px 0;
		border-top: 1px solid #eeeeee;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__selects {
		display: flex;
		gap: 60px;
		align-items: center;
	}
}
.copyright {
	font-size: 13px;
	line-height: 1.2;
	font-weight: 700;

	display: flex;
	gap: 44px;

	&__link {
		&:hover {
			color: $accentColor;
		}
	}
}

.social {
	display: flex;
	gap: 30px;
	&__link {
		&.icon-twitter {
			&:hover {
				color: #1D9BF0;
			}
		}
		&.icon-facebook {
			&:hover {
				color: #3b5998;
			}
		}
		&.icon-instagram {
			&:hover {
				color: #d62976;
			}
		}
		&.icon-pinterest {
			&:hover {
				color: #D32F2F;
			}
		}
	}
}
.footer__select {
	font-size: 13px;
	display: flex;
	align-items: center;
	gap: 15px;
	.custom-select__top {
		border: none;
		padding-bottom: 0;
		&::before {
			top: 50%;
		}
	}
	&-title {
		
		line-height: 1;
		color: $textColor;
	}

}

.footer__copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 17px 0;
}
.pay-block {
	display: flex;
	gap: 30px;
	align-items: center;

	color: #a8abac;

	&__item {
		cursor: pointer;
		&:hover {
			transition: all 0.3s ease;
			color: $accentColor;
		}
		&.icon-mastercard {
			&::before {
				font-size: 22px;
			}
			
		}
		&.icon-visa {
			&::before {
				font-size: 30px;
			}
		}
		&.icon-paypal-black {
			&::before {
				font-size: 20px;
			}
		}
	}
}