.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding-top: 33px;
	padding-bottom: 33px;
	min-height: 90px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

	}
}

.menu {
	position: relative;
	z-index: 4;
	width: 40%;
	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 32px;
		flex-wrap: wrap;
		row-gap: 0px;
	}
	&__list-link {
		padding: 5px 0;
		&:hover {
			color: $accentColor;
		}
	}
	
}


.logo {
	width: 115px;
	margin: 0 15px;
	position: relative;
	z-index: 6;
}

.user {
	display: flex;
	justify-content: flex-end;
	gap: 25px;
	align-items: center;
	width: 40%;
	position: relative;
	z-index: 6;
	&__cart {
		display: flex;
		align-items: center;
		gap: 4px;
		&-count {
			display: block;
			margin-right: 15px;
			background-color: $mainTextColor;
			color: #fff;
			border-radius: 50%;
			padding-left: 3px;
			padding-right: 3px;
			min-width: 16px;
			height: 16px;
			font-size: 10px;
			font-weight: 700;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__item {
		& a:hover{
				color: $accentColor;
		}
	}
}



@import "burger.scss";