.products {
	margin-bottom: 100px;

	&__nav {
		display: flex;
		justify-content: center;
		gap: 40px;
		align-items: center;

		margin-bottom: 40px;

		font-size: 24px;
		line-height: 1.2;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px 10px;

		margin-bottom: 65px;
	}
	
	&__img {
		height: 442px;
		margin-bottom: 25px;
		width: 340px;
	}
	&__item-img {
		height: 100%;
		width: 100%;
	}
	&__item-status {
		display: flex;
		align-items: center;
		gap: 9px;
		font-size: 10px;
		font-weight: 800;
		text-transform: uppercase;
		&::before {
			font-size: 13px;
		}
	}
	.display-none {
		display: none;
	}
	&__item-title {
		font-weight: 500;
	}
	&__price {
		font-size: 13px;
		font-weight: 700;
	}
	&__price-sale {
		display: inline-block;
		font-weight: 500;
		text-decoration: line-through;
		color: #959595;
		margin-left: 10px;
	}
	&__load-more-btn {
		color: $textColor;
		margin: 0 auto;
		display: flex;
		flex-direction: column-reverse;
		row-gap: 10px;
		align-items: center;
		&:hover {
			color: $mainTextColor;
			
		}
		&::before {
			font-weight: 800;
		}
	}
}